<h1 class="text-center mt-4"><i class="fas fa-camera text-info"></i><span class="title-text text-secondary"> Photo</span></h1>

<div class="photo-show mb-3">
  <%= cl_image_tag @post.photo.key, class: "pirulito-photo" %>
  <div class="legend-card mt-2">
    <span class="text-dark mt-1"> <i class="fas fa-dog text-info"></i> <%= @post.legend %></span> <span class="text-secondary"><%= @post.created_at.strftime("%F") %> </span>
  </div>

    <%= simple_form_for([ @post, @comment ], remote: true) do |f| %>
      <%= f.input :content, as: :text %>
      <%= f.button :submit %>
    <% end %>

    <div id="comments">
      <% if @post.comments.blank? %>
        Be the first to leave a review
      <% else %>
        <% @post.comments.each do |comment| %>
          <p id="comment-<%= comment.id %>"><%= comment.content %></p>
        <% end %>
      <% end %>
    </div>


  <div>
    <%= link_to "Back", posts_path, class: "btn btn-secondary mt-4 mr-3" %>
    <% if user_signed_in? && current_user.admin == true %>
      <%= link_to "Delete",
        post_path(@post),
        method: :delete,
        data: { confirm: "Are you sure?" }, class:"btn btn-danger text-center text-white mt-4 ml-2" %>
    <% end %>
  </div>
</div>
