<!DOCTYPE html>
<html>
  <head>
    <title>Pirulito's Life</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:image" content="http://pirulitolife.herokuapp.com/assets/welcome-03d8d7fc68c515e0ae6a09359fe96b4e9dcd9bee83a3b0fcc1b17644cac24390.jpg">
    <meta name="description" content="Welcome to Pirulito's Life!">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
     <div class="container mt-5 pt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">

          <%= yield %>

        </div>
      </div>
    </div>

  <%= render 'shared/footer' %>
  </body>
</html>
